.cover__link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  opacity: .99;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(42, 44, 47, 0.2);
  transition: background 0.30s ease-in-out;
}