.place__website-url-heading {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 0 12px 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
 }

 @media screen and (max-width: 768px) {
  .place__website-url-heading {
    line-height: 12px;
  }
}